/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    color: #1f2937;
}
/* settings */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.partytax.page{
    height: calc(100vh - 121px);
}
.container{
    height: 100%;
    padding: 0 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.container_centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page{
    flex-grow: 1;
}
/* my-utils */
.w-full{
    width: 100%;
}
.mt-auto{
    margin-top: auto;
}
.ml-auto{
    margin-left: auto;
}
/* components */
.input-row{
    width: 100%;
}
.form-label{
    font-size: 14px;
}
/* PARTS */
/* header */
.header{
    padding: 10px;
    border-bottom: 1px solid rgb(229 231 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__location{
    font-size: 14px;
    align-items: center;
}
.header__location svg{
    width: 13px;
    margin-left: 4px;
    fill: #fff;
}
.header__backlink{
    display: inline-flex;
    align-items: center;
    width: 16px;
}
.header__backlink button{
    background: none;
    border: none;
    margin-right: 9px;
}
.header__backlink svg{
    width: 20px;
    height: 20px;
}
.header__btn-profile svg{
    width: 16px;
    fill: #1f2937;
}
/* register */
.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__box{
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
}
/* partytax */
.partytax{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 77px;
}
.partytax__title{
    text-align: center;
    margin-bottom: 30px;
}
.partytax__button{
    display: block;
    text-align: center;
}
.partytax__rooms{
    margin-top: 30px;
}
.partytax__buttons{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
/* partyNav */
/* partyNav */
/* partyNav */
.party-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    padding: 0 10px;
    margin-top: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    border: 1px solid rgb(229 231 235);
    box-shadow: -30px 30px 50px 22px rgba(0,0,0,.3);
}
.party-nav__menu{
    background: #333333;
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
    margin: 7px;
    flex-grow: 1;
}
.bottom-item svg{
    width: 40px;
    stroke: #7E7E7E;
}
.bottom-item_active svg{
    stroke: #fff;
}
.party-nav__side{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.party-nav__side-button svg{
    width: 35px;
    stroke: #333;
}
.party-nav__side-button_active svg{
    stroke: tomato;
}
/* partytaxhome */
/* partytaxhome */
/* partytaxhome */
.partytax__home-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}
.partytax__home-item{
    width: 48%;
    text-align: center;
}
.partytax__home-item-title{
    margin-bottom: 10px;
    font-weight: 500;
}
.partytax__home-item-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.partytax__home-item-icon svg{
    width: 80px;
}



/**/
.partytax__room-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.partytax__room-item-name{
    font-size: 14px;
}
.partytax__room-item-delete{
    margin-left: 10px;
}
.partytax__room-item-delete svg{
    stroke: red;
    width: 24px;
}
/* members */
.partytax__member-buttons{
    display: flex;
    gap: 10px;
}
.partytax__member-buttons svg{
    width: 22px;
}
.partytax__member-buttons-settings svg{
    stroke: #fff;
}
.partytax__member-buttons-delete svg{
    stroke: tomato;
}
/* partytax nav */
.partytax-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.partytax-nav_root{
    justify-content: center;
}
.partytax-nav_root .partytax-nav__currentpage{
    margin-left: 0;
}
.partytax-nav__backlink svg{
    width: 25px;
}
.partytax-nav__currentpage{
    font-weight: 600;
}
.partytax-nav_hidden{
    display: none;
}
/* add-members-form */
.add-members-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




/* expenses */
.expenses-item__checkbox{
    display: inline-block;
    margin-left: auto;
}
.expense-item__edit{
    text-decoration: none;
    padding: 2px;
    background: #dee2e6;
    border-radius: 5px;
}
.expense-item__edit svg{
    width: 20px;
    stroke: #111;
}
.expense-item__remove svg{
    width: 15px;
    fill: tomato;
}
.expenses-group-edit{
    font-size: 12px;
    padding: 5px;
    background: #333;
    margin-bottom: 6px;
    border-radius: 4px;
    color: #fff;
}
.expenses__item-name{
    font-size: 14px;
}
.expenses-box{
    border-bottom: 1px solid #dee2e6;
    border-radius: 5px;
}
.expense-item{
    padding: 10px;
    border: 1px solid #dee2e6;
    border-bottom: none;
}
.expenses-box .expense-item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.expenses-box .expense-item:last-child{
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* room info */
.dashboard-info__item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.dashboard-info__item_col{
    flex-direction: column;
}
.dashboard-info__item h6{
    margin-bottom: 0;
    font-size: 14px;
}





/* main page */
.main__button-area{
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}
.dashboard-info__room-link{
    display: inline-flex;
}
.dashboard-info__room-link span{
    overflow: hidden;
    max-width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0d6efd;
}
.dashboard-info__room-link svg{
    width: 13px;
    margin-right: 5px;
    fill: #0d6efd;
}



/* unsub-btn */
.unsub-btn{
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin-left: 8px;
    text-decoration: underline;
    background: none;
}
.unsub-btn svg{
    stroke: tomato;
    width: 16px;
}
.unsub-btn span{
    font-size: 14px;
    color: tomato;
    position: relative;
    top: -1px;
}